body{
    margin:0;
    font-family: system-ui;
    background:#0f172a;
    color:white;
}

header{
    background:#020617;
    padding:20px;
    text-align:center;
    border-bottom:1px solid #1e293b;
}

.container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

.card{
    background:#020617;
    border:1px solid #1e293b;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
}

input{
    padding:10px;
    width:60%;
    border-radius:8px;
    border:none;
    margin-right:10px;
}

button{
    padding:10px 14px;
    border:none;
    border-radius:8px;
    background:#22c55e;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#16a34a;
}

pre{
    background:black;
    padding:15px;
    border-radius:8px;
    overflow:auto;
    max-height:400px;
}

.item{
    display:flex;
    justify-content:space-between;
    padding:6px 0;
    border-bottom:1px solid #1e293b;
}